In [3]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import hamming

## Read the master csv files and create the nearest neightbour function

In [4]:
df_item_ALL = pd.read_csv('./data/df_item_ALL.csv')

In [5]:
# drop duplicated items
df_item_ALL.drop_duplicates(subset=['ProductID'],inplace=True)

In [6]:
df_review_ALL_original = pd.read_csv('./data/df_review_ALL_original.csv')

In [7]:
df_review_ALL_original = df_review_ALL_original.drop('Unnamed: 0',axis=1)

In [8]:
#clean the user name
df_review_ALL_original['Username']= df_review_ALL_original['Username'].apply(lambda x:str(x).split('>')[-1])

In [9]:
df_review_ALL_original

,ProductID,Username,Review_Date,Comments,Rating,recommendOrNot
0,H29064,GRACE Ch,2022-04-24,飲開好味,5.0,0.0
1,H29064,joyce ho,2022-04-22,good,4.0,0.0
2,H29064,Ka Ying Sung,2022-04-22,good,5.0,0.0
3,H29064,Jane Kevin Watt,2022-04-18,小小凹，冇影響，會再回購,5.0,1.0
4,H29064,Jane Kevin Watt,2022-04-18,小小凹，但沒有爆,5.0,1.0
...,...,...,...,...,...,...
2800169,L98571,ka yee kung,2020-12-24,Good,5.0,0.0
2800170,L98571,Fung Lin Chiu,2020-12-19,用左5日，頸紋淡左,4.0,0.0
2800171,L98571,Carman Chi,2020-12-18,未試用，包裝完整，到期2022,5.0,0.0
2800172,L98571,Chan Ch,2020-11-21,Ok,5.0,0.0
2800173,L98571,Vivian Lam,2020-10-31,朋友介紹用，比想像中效果顯著。頸紋減退左少少 （申利莫非係心理作用?）但整體搽後感覺清爽，吸...,5.0,0.0

In [10]:
# lets write a function to compute k nearest neighbours of active user
# To Find the k nearest neighbours of active user first find the distance of active user to all other users
def nearestneighbours(df,product,K):
    # create a user df that contains all users except active user
    allProducts = pd.DataFrame(df.index)
    allProducts = allProducts[allProducts.ProductID!=product]
    # Add a column to this df which contains distance of active user to each user
    allProducts["distance"] =allProducts["ProductID"].apply(lambda x: hamming(df.loc[product],df.loc[x]))
    KnearestProducts = allProducts.sort_values(["distance"],ascending=True)["ProductID"][:K]
    return KnearestProducts

## create item vs user name matrix, categorised by main cat

In [11]:
#list out all the main cats
df_item_ALL['Main_Cat'].unique()

array(['Beverages', 'Frozen', 'Health', 'Skin Care', 'Junk Food',
       'Noodles', 'personal care', 'Rice/Oil'], dtype=object)

In [12]:
#extract the data according to their main cat
df_beverages = df_item_ALL[df_item_ALL['Main_Cat']=='Beverages']
df_frozen = df_item_ALL[df_item_ALL['Main_Cat']=='Frozen']
df_health = df_item_ALL[df_item_ALL['Main_Cat']=='Health']
df_skin_care = df_item_ALL[df_item_ALL['Main_Cat']=='Skin Care']
df_junk_food = df_item_ALL[df_item_ALL['Main_Cat']=='Junk Food']
df_noodles = df_item_ALL[df_item_ALL['Main_Cat']=='Noodles']
df_personal_care = df_item_ALL[df_item_ALL['Main_Cat']=='personal care']
df_rice_oil = df_item_ALL[df_item_ALL['Main_Cat']=='Rice/Oil']

In [13]:
#get the id's of each product of each cat
df_beverages_id = df_beverages['ProductID']
df_frozen_id = df_frozen['ProductID']
df_health_id = df_health['ProductID']
df_skin_care_id = df_skin_care['ProductID']
df_junk_food_id = df_junk_food['ProductID']
df_noodles_id = df_noodles['ProductID']
df_personal_care_id = df_personal_care['ProductID']
df_rice_oil_id = df_rice_oil['ProductID']

In [14]:
#create a df which contain item and user_id
df_beverages_user = pd.merge(df_beverages_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_frozen_user = pd.merge(df_frozen_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_health_user = pd.merge(df_health_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_skin_care_user = pd.merge(df_skin_care_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_junk_food_user = pd.merge(df_junk_food_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_noodles_user = pd.merge(df_noodles_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')
df_personal_care_user = pd.merge(df_personal_care_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')

df_rice_oil_user = pd.merge(df_rice_oil_id,
                 df_review_ALL_original[['ProductID', 'Username', 'Rating']],
                 on='ProductID', 
                 how='left')

In [15]:
#sanity check
df_rice_oil_user

      ProductID     Username  Rating
0        F80786        M Lau     5.0
1        F80786     Abby Sze     5.0
2        F80786    blue kwok     3.0
3        F80786    May LEUNG     5.0
4        F80786     Wendy Ng     5.0
...         ...          ...     ...
88227    M67892      Ca Yung     4.0
88228    M67892  Sylvia CHAN     5.0
88229    M67892   Suk Yee Li     5.0
88230    M67892    Ms. Leung     5.0
88231    M67892     Pamela N     5.0

[88232 rows x 3 columns]

In [23]:
#change the "Rating" to 1s 
# in the matrix, if the user has brought this item, the value will be "1"; else it will be "NaN"
df_rice_oil_user['Rating'] = df_rice_oil_user['Rating'].apply(lambda x: 1)

In [25]:
df_rice_oil_user

      ProductID     Username  Rating
0        F80786        M Lau       1
1        F80786     Abby Sze       1
2        F80786    blue kwok       1
3        F80786    May LEUNG       1
4        F80786     Wendy Ng       1
...         ...          ...     ...
88227    M67892      Ca Yung       1
88228    M67892  Sylvia CHAN       1
88229    M67892   Suk Yee Li       1
88230    M67892    Ms. Leung       1
88231    M67892     Pamela N       1

[88232 rows x 3 columns]

In [26]:
#create pivot tables for finding the nearest neighbours
user_item_matrix_beverages=pd.pivot_table(df_beverages_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_frozen=pd.pivot_table(df_frozen_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_health=pd.pivot_table(df_health_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_skin_care=pd.pivot_table(df_skin_care_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_junk_food=pd.pivot_table(df_junk_food_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_noodles=pd.pivot_table(df_noodles_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_personal_care=pd.pivot_table(df_personal_care_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

user_item_matrix_rice_oil=pd.pivot_table(df_rice_oil_user, values='Rating',
                                    index=['ProductID'], columns=['Username'])

In [27]:
#sanity check
user_item_matrix_beverages

Username,* Mak,** CHAN,. .,. Angel,. C,. Chau,. Chow,. Chu,. Fu,. HO,...,黎麗 涂,黑 白,黑 貓,黑貓 宇津木,강경연,윤현지,테레사 ㅅ,Ａ Ｃ,Ｍan Tam,ＴＳＥ KIT MING
ProductID,,,,,,,,,,,,,,,,,,,,,
A05393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A05409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A05411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A05441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A05443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
S47915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S50390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S50395,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
T18797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
U31804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#testing the nearest neighbours function
nearestneighbours(user_item_matrix_beverages,'S47915',6)

710    U31804
519    J27795
517    J27789
42     A98806
40     A98048
317    E47027
Name: ProductID, dtype: object